@import "tailwindcss";
/* @import "tailwindcss-animated"; */
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: 'Aminute';
  src: url('/fonts/Aminute.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Agency';
  src: url('/fonts/Agency.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alifira';
  src: url('/fonts/Alifira.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-aminute: 'Aminute', sans-serif;
  --font-agency: 'Agency', sans-serif;
  --font-alifira: 'Alifira', sans-serif;

  /* Animations */
  --animate-move-cloud: move-cloud 3s ease-in-out infinite;
  --animate-move-from-top: moveFromTop .7s ease-in-out forwards;
  --animate-move-from-right: moveFromRight .9s ease-in-out forwards;
  --animate-move-from-left: moveFromLeft .7s ease-in-out forwards;
  --animate-move-from-bottom: moveFromBottom 1.5s ease-in-out forwards;

  @keyframes move-cloud {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(2%, -1%);
    }
    50% {
      transform: translate(0%, 1%);
    }
    75% {
      transform: translate(-2%, -1%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveFromTop {
    0% {
      transform: translateY(-120%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveFromRight {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
    }
    }

  @keyframes moveFromLeft {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }
}