
<aside class="fixed top-32 right-8 z-20 animate-slide-in-right animate-delay-250">
  <nav class="flex flex-col gap-14 2xl:gap-20 text-end text-xl 2xl:text-2xl tracking-widest">
    <div>
      <a href="#inicio">Inicio</a>
    </div>
    <div>
      <a href="/acerca">¿E-sports LTD?</a>
    </div>
    <div>
      <a href="#premio">Premio</a>
    </div>
    <div>
      <a href="#equipos">Equipos</a>
    </div>
    <div>
      <a href="#agenda">Agenda</a>
    </div>
    <div>
      <a href="#reglas">Reglas</a>
    </div>
  </nav>
</aside>