---
import cloud from "@assets/imgs/cloud.avif";
import logo from "@assets/imgs/logo_dota.jpg";
---

<div class="h-dvh bg-black text-white flex flex-col items-center justify-center gap-4">
  <img src={logo.src} alt="DOTA FEST UDH Logo" class="w-52 h-52 rounded-full shadow-lg" />
  Welcome to DOTA FEST UDH
</div>